*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    overflow: scroll;
    scroll-behavior: smooth;
    background-image: linear-gradient(220deg, #01010108, #ffffff);
    height: 100vh;
}

body::-webkit-scrollbar{
    display: none;
}

nav{
    position: fixed;
    background: transparent;
    backdrop-filter: blur(30px);
    z-index: 100;
    width: 100%;
    padding: 10px;
}

nav button{
    padding: 8px 13px;
    position: absolute;
    top: 20%;
    right: 5%;
    border: none;
    border-radius: 10px;
    background: #331d83;
    color: #fff;
    cursor: pointer;
}

.banner{
    position: relative;
}

.banner img{
    width: 100%;
    aspect-ratio: 14/6;
    object-fit: cover;
}

.banner-content{
    position: absolute;
    top: 30%;
    left: 10%;
}

.banner-content h1{
    font-size: 46px;
}

.banner-content p{
    line-height: 30px;
}

.tBar{
    font-weight: 100;
}

/* h1, h2, h3, h4, h5, h6, p, span, i{
    animation: fadeInUp 1s forwards;
} */

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.text-white{
    color: white;
}

.text-red{
    color: red;
}

.text-blue{
    color: #0077B5;
}

.text-info{
    color: #1DA1F2;
}

.text-gray{
    color: #222;
}

.fa-instagram{
    background: linear-gradient(to right, #833AB4, #FD1D1D, #FDCB52);
    -webkit-background-clip: text;
    color: transparent;
}

.info{
    text-indent: 5%;
    width: 50%;
}

.connect{
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: flex;
    gap: 20%;
}

.connect a{
    border-radius: 100%;
    color: #fff;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.connect a:hover{
    margin-top: -5px;
    transform: scale(1.1);
}

.content{
    margin: 5%;
    animation: fadeInUp 1s forwards;
}

.headings{
    color: #331d83;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.detail{
    text-indent: 10%;
    margin: 1%;
    line-height: 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 100%;
}

.intBlock .row .card{
    border-radius: 10px;
    box-shadow: 5px 5px 15px #D1D9E6;
    box-sizing: border-box;
    width: calc(33.33% - 2%);
    margin-top: 3%;
    padding: 3%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.intBlock .card i{
    font-size: 52px;
    margin-bottom: 20px;
    color: #7e61ce;
}

.intBlock h3{
    margin-bottom: 10px;
}

.intBlock p{
    text-indent: 3%;
}

.intBlock .row .card:hover{
    background: #563aa1;
    color: #fff;
    margin-top: 1.8%;
}

.intBlock .card:hover i{
    color: #fff;
}

.bars{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}

.bars img{
    width: 30px;
}

.skill{
    width: 48%;
    margin: 10px;
}

.skill p{
    text-indent: 5px;
    font-weight: bolder;
}

.skill .icon{
    margin-bottom: 5px;
    display: flex;
}

.level{
    width: 100%;
    background: #ddd;
    display: block;
	height: 10px;
    border-radius: 20px;
}

.level div{
    height: 10px;
    background: #331d83;
    border-radius: 20px;
}

.w-25{
    width: 25%;
    animation: beginner 2s;
}
.w-50{
    width: 50%;
    animation: intermediate 2s;
}
.w-75{
    width: 75%;
    animation: advanced 2s;
}
.w-100{
    width: 100%;
    animation: expert 2s;
}

@keyframes beginner{ 
	0%{
		width: 0%;
	}

	100%{
		width: 25%;
	}
}

@keyframes intermediate{ 
	0%{
		width: 0%;
	}

	100%{
		width: 50%;
	}
}

@keyframes advanced{ 
	0%{
		width: 0%;
	}

	100%{
		width: 75%;
	}
}

@keyframes expert{ 
	0%{
		width: 0%;
	}

	100%{
		width: 100%;
	}
}

hr{
    margin: 30px 0;
}

footer{
    background: #eeeeee82;
    color: black;
    padding: 3%;
    text-align: center;
}

@media (max-width:756px) {
    nav button{
        right: 10%;
        font-size: 10px;
        margin: auto 0;
    }
    .banner img{
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
    .banner-content h1{
        font-size: 26px;
    }
    .banner-content p{
        line-height: 20px;
    }
    .connect{
        bottom: 5%;
    }
    .connect a{
        font-size: 24px;
    }
    .info{
        width: 100%;
    }
    .detail{
        line-height: 25px;
    }
    .row{
        flex-direction: column;
    }
    .intBlock .row .card{
        width: 100%;
        padding: 5%;
    }
    .intBlock .row .card i{
        font-size: 30px;
        margin-top: 15px;
    }
    .bars{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 30px 0;
    }
    .skill{
        width: 100%;
        margin: 10px;
    }
}